<p><%= t('invitation.invite_mailer.existing_user.hello', email: @invite.email) %></p>

<p><%= t('invitation.invite_mailer.existing_user.someone_invited_you', url: root_url) %></p>

<p><%= t('invitation.invite_mailer.existing_user.ignore').html_safe %></p>

