<p><%= t("invitation.invite_mailer.new_user_invite.hello", email: @invite.email) %></p>

<p><%= t("invitation.invite_mailer.new_user_invite.someone_invited_you", url: root_url) %></p>

<p><%= link_to t("invitation.invite_mailer.new_user_invite.accept"), @user_registration_url %></p>

<p><%= t("invitation.invite_mailer.new_user_invite.ignore").html_safe %></p>
